* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    margin-bottom: 0;
}

.current-weather-container {
    max-width: 370px;
    background-color: darkcyan;
    color: white;
    padding: 15px;
    margin-inline: auto;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.current-weather-name {
    min-width: 50px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-weather-name p {
    min-width: 50px;
}

.current-wind-speed {
    display: flex;
    justify-content: space-between;
}

.future-weather-container {
    max-width: 370px;
    margin-inline: auto;
}

.future-weather {
    border: 2px solid darkcyan;
    border-top: 0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.weatherTemp {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.windSpeed {
    min-width: 60px;
}

.spinner-overlay {
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.toastText::first-letter {
    text-transform: capitalize;
}